<h1>Мой номер телефона: +996 777 208 080</h1>
<hr>

<img width="200" src="https://kulturologia.ru/files/u17975/mansa1.jpg" alt="">
<h3>Манса Муса (= XIV век) - Император Мали</h3>
<p>
    <b>Состояние (оценка):</b> настолько огромное, что историки называют
    «беспрецедентным», современные пересчёты — триллионы долларов.
</p>
<ul>
    <li>правил богатейшей на тот момент державой Западной Африки</li>
    <li>контролировал крупнейшие в мире запасы золота и соли</li>
    <li>централизовал торговлю, усилил экономику через города Тимбукту и Гао</li>
    <li>стал легендарным после паломничества в Мекку, где щедрые раздачи золота даже повлияли на экономику регионов</li>
</ul>


