<!-- 
Тег - это то из чего мы строим разметку сайта.
Тег имеет открывающуюся часть и закрывающуюся.
Тег может быть и одинарным.

<тег> - одинарный
<тег> содержимое </тег> - парный
-->

<h1>Умер человек-паук (от)

<h2>от венома и халка</h2>
<h3>волк</h3>
<h4>тигр</h4>
<h5>лев</h5>
<h6>победитель</h6>

<img width="500" height="400" src="https://media.2x2tv.ru/content/images/2021/03/------6.jpg" alt="Человек-паук">
<img width="500" height="400" src="https://upload.wikimedia.org/wikipedia/commons/6/68/PEO_M4_Carbine_RAS_M68_CCO.png" alt="Человек-паук">
<video controls src="https://img-9gag-fun.9cache.com/photo/aOQOyAD_460svav1.mp4"
</video>
<audio controls src="http://commondatastorage.googleapis.com/codeskulptor-demos/DDR_assets/Sevish_-__nbsp_.mp3">
</audio>


